.app__cell__container {
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
  display: inline-block;
  background-color: #f5f5f5;
  color: #001f14;
}

.app__cell__container__gradient {
  background: linear-gradient(to right, #37b24d 0%, #f5f5f5 60%, #f5f5f5 100%);
}
