.balance__data {
  display: block;
}

.balance__span {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  position: relative;
}

.balance__span:last-child {
  margin-bottom: 4rem;
}

@media screen and (max-width: 895px) {
  .balance__span {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .balance__span {
    font-size: 1.8rem;
  }

  .balance__span:last-child {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 415px) {
  .balance__span {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  .balance__data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
