.select__form {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.select__form__span {
  font-size: 2rem;
  text-transform: uppercase;
}

.select__form__select {
  background-color: #00623f;
  padding: 0.4rem 1.2rem;
  border-radius: 1rem;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 1.8rem;
}

@media screen and (max-width: 450px) {
  .select__form {
    gap: 1rem;
  }

  .select__form__span {
    font-size: 1.6rem;
  }

  .select__form__select {
    font-size: 1.6rem;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
  }
}
